.footer-wrapper {
    display: flex;
    background-color: black;
    height: 300px;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    max-width: 55%;
    justify-content: space-between;
    margin: 35px 0 0 25px;
}
.single-section {
    flex: 1;

    h4 {
        color: #FFDAC9;
    }
}
.logo-footer {
    display: flex;
    width: 30%;
    align-items: flex-end;
    flex-direction: column;
    padding: 35px;

    h2 {
        font-size: 30px;
        margin-bottom: 0;
        color: white;
    }

    h2:last-child {
        font-size: 45px;
        margin: -3px;
    }
}