.navbar {
    width: 100%;
    display: flex;
}

.logo {
    display: flex;
    justify-content: flex-start;
    height: 15px;
    flex-wrap: wrap;
}

.sections ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 15px;
    flex-wrap: wrap;
}

.user ul li,
.sections ul li {
    padding-left: 30px;
}

.user ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    height: 10px;
    flex-wrap: wrap;
    margin-left: 35rem;

}

