.scrolling-wrapper {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
    padding:5px;
}

.card {
    margin: 0 15px;
    flex: 0 0 240px;
    text-align: right;
    padding: 5px;
    
    .inner {
        background-color: #FFDAC9;
        box-shadow: 8px 15px 30px -30px;
        margin-bottom: 10px;
    }

    img {
        margin: 0 auto;
        padding: 0;
        display: block;
    }

    .text {
        background-color: #FFF;
        margin-top: 0;
        padding:15px;
    }

    article, h3, p {
        text-align: left;
    }

    h3 {
        font-size:large;
    }

    article {
        padding-top: 10px;
        color: #767676;
        opacity: .5;
    }

    p {
        color: #767676;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

.card:nth-of-type(3n) {
    align-self: flex-end;
}
