.food-london {
    background-color: #FFDAC9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    h1, h2 {
        color:#FFFFFF;
        margin: 0 auto;
    }

    h1 {
        font-size: 81px;
    }

    h1.bigger {
        font-size: 115px;
        line-height: 80px;
    }

    h2 {
        font-size: 35px;
    }
}